* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: figtree, sans-serif;
    color: #d3d3d3;
    background-color: #343434;
}
h2 {
    font-size: 1.3rem !important;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #e2e2e2;
}
/* GLOBAL */
i {
    font-size: 1.2rem;
}
.input, .textarea {
    outline: none;
    padding: 0.010rem .4rem;
    width: 100%;
    background-color: #ccc;
    border: none;
    color: black;
}
.textarea {
    padding: .4rem;
    font-size: 1rem;
}
.btn {
    color: #f2f2f2;
    padding: .4rem .6rem;
    cursor: pointer;
    border: none;
    border-radius: .2rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #aaa;
    background-color: #242424;
    transition: background-color 0.15s ease-in-out;
}
.btn:hover {
    background-color: #343434;
}
.action-btn {
    padding: .2rem .4rem;
    font-size: .9rem;
    border-radius: .2rem;
    transition: opacity 0.15s ease-in-out;
}
.action-btn:hover {
    opacity: .9;
}
.edit {
    background-color: #ac6413
}
.edit-icon i {
    color: #ac6413;
}
.delete-icon i {
    color: #882929;
}
.view {
    background-color: #4e5db3;
}
.delete {
    background-color: #882929;
    border: none;
    cursor: pointer;
}
button.cancel {
    background-color: transparent;
}
.tag {
    background-color: #bbb;
    padding: .2rem .5rem;
    font-size: .9rem;
    border-radius: 1rem;
    color: black;
}
.text-error {
    font-size: .9rem;
    display: block;
    padding-top: .2rem;
    color: #d31414;
}
.selected {
    background-color: #242424;
}
.pagination {
    margin-top: 1rem;
}
/* ADMIN */
.admin-container {
    margin: 1.5rem 4rem;
}
.admin-content {
    display: flex;
    gap: 1.5rem;
    align-items: start;
}
.sidebar {
    width: 270px;
    box-shadow: 2px 2px 3px 3px #323232;
    border-color: #606060;
}
.sidebar ul li {
    text-align: center;
    padding: .4rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: #ccc;
}
.sidebar ul li:hover {
    background-color: #242424;
}

.main {
    width: 100%;
    border: 1px solid #505050;
    padding: .6rem 1rem;
}
.main h2 {
    margin-bottom: 1rem;
}
.main .search {
    display: flex;
    gap: .5rem;
}
.main .search input {
    width: 200px;
}
.main .search input, .main .search button {
    padding: 0.2rem;
}
.main .search button {
    padding: 0.2rem .7rem;
}
.action-buttons {
    display: flex;
    align-items: center;
    gap: .6rem;
}
.table {
    width: 100%;
    margin-top: 1rem;
}
.table th {
    width: 16.6%;
    padding: .6rem .3rem;
    background-color: #242424;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9rem;
}
.table td {
    padding: .3rem;
}
.table tr {
    background-color: #444444;
}
.table tr:nth-child(even){
    background-color: #343434;
}
.add-category {
    display: flex;
    gap: .4rem;
}
.add-categories-container h3 {
    margin-bottom: .4rem;
}
.add-category input {
    width: 200px;
}

/* END OF ADMIN */

/* header */
.header {
    border-bottom: 1px solid #424040;
}
/* nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4rem;
    padding: 1.5rem 0;
}
.nav-left {
    display: flex;
}
.nav-left a {
    font-size: 1.5rem;
}
.nav-left img {
    width: 1.8rem;
    height: 1.8rem;
}
.nav-center ul {
    list-style-type: none;
}
.nav-center ul li a {
    font-size: 1.2rem;
}
.nav-right-account {
    display: flex;
    align-items: center;
    gap: .3rem;
}
.nav-right-account button {
    all: unset;
    cursor: pointer;
}

/* Main container */
.main-container {
    margin: 1.5rem 4rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    align-items: start;
}
/* profile */
.profile-section, .profile-image-section {
    margin-top: 1rem;
    padding: 1rem;
    width: 600px;
    border: 1px solid #505050;
}
.profile-section h3, .profile-image-section h3 {
    margin-bottom: .7rem;
}

/* section */
.section .post-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.section .card-container {
    margin-top: 1rem;
}
.section .card-post {
    padding: .5rem;
    border: 1px solid #505050;
    margin-bottom: 1.5rem;
}
.section .card-post .card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section .card-post .actions {
    display: flex;
    align-items: center;
    gap: .3rem;
}
.section .card-body {
    margin-top: 1rem;
}
.section .card-body .body {
    padding: .5rem;
    letter-spacing: 1px;
}
.section .card-body .author {
    margin-top: 1rem;
    text-align: right;
}
.section .card-comment {
    margin-top: .5rem;
    border-top: 1px solid #505050;
    padding-top: .7rem;
    align-items: flex-start;
}
.section .card-comment .add-comment textarea {
    width: 100%;
}
section .card-comment .add-comment .comment-button{
    display: flex;
    justify-content: end;
    margin-top: .5rem;
}
section .comments {
    margin-top: .5rem;
    padding: .5rem;
}
section .comments h4 {
    margin-bottom: .3rem;
}
section .comments .comment-box {
    border: 1px solid #505050;
    margin-bottom: .5rem;
    padding: .5rem;
}
section .comments .comment-header {
    display: flex;
    align-items: center;
    gap: .7rem;
    width: 100%;
    justify-content: space-between;
}
section .comments .comment-author {
    display: flex;
    align-items: center;
    gap: .7rem;
}
section .comments .comment-header .comment-actions {
    display: flex;
    gap: .4rem;
}
section .comments .comment-body {
    margin-top: 1rem;
}
section .comments .comment-date {
    display: flex;
    justify-content: end;
    margin-top: .5rem;
}
.section .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
    border-top: 1px solid #505050;
    padding-top: .5rem;
}
.section .card-footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.section .card-footer .likes {
    display: flex;
    align-items: center;
    gap: .2rem;
}
/* .reply-box {
    margin-top: .3rem;
} */
 /* a.reply-btn {
    display: none;
 } */
.reply-comment {
    display: none;
    gap: 5px;
    margin-top: 10px;
    display: none;
}


.aside {
    border: 1px solid #505050;
    padding: .7rem;
    border-radius: .2rem;
    box-shadow: 0 0 .1rem #555;
}
.aside .filter form{
    display: flex;
    justify-content: space-between;
    gap: .4rem;
    margin-bottom: .5rem;
}
/* log in */
.login-container, .register-container {
    margin: 2rem 4rem;
    display: flex;
    justify-content: center;
}
.login-form, .register-form {
    border: 1px solid #505050;
    padding: 1rem;
    width: 400px;
}
.login-form h3, .register-form h3 {
    margin-bottom: 1rem;
}
.form-control {
    margin-bottom: .7rem;
}
.form-control label {
    display: block;
    margin-bottom: .2rem;
}
.form-control input, .form-control select, .form-control textarea {
    padding: .6rem;
    width: 100%;
    background-color: #cccccc;
    font-family: figtree, sans-serif;
}

select option {
    color: black;
}
.form-control button, .form-control textarea{
    width: 100%;
    padding: .5rem;
    font-family: figtree, sans-serif;
}



